
/*
========================================================

MAIN 

========================================================
*/

body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    font-family: lobster;
    width: 600px;
    margin: auto;
    text-align: left;
    background: #98f2cf;
    padding: 0px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 20px 20px 0px 0px;   
}

#main h1 {
    color: white;
    margin-top: 0;
    font-size: 90px;
    margin-bottom: 5px;
    /*padding: 5px;*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*text-shadow: -1px 0 #98f2cf, 0 1px #98f2cf, 1px 0 #98f2cf, 0 -1px #98f2cf;*/
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}




/*
========================================================

CHATS & CHATBOX

========================================================
*/

#chatSection {
    width: 680px;
    height: 3000px;
    margin: auto;
    text-align: left;
    background: #fffbed;
    padding: 20px 20px;
    border: 1px solid #98f2cf;
    border-width: 0 1px 1px 1px;
}

.chatBox {
    float: left;
    width: auto;
    height: auto;
    background: #fffbed;
}

.chatHead {
    background: #98f2cf;
    /*padding-top: 30px;*/
    height: 100px;
    width: 480px;
    border: 1px solid #9fa4ad;
    border-radius: 10px;
    margin-bottom: 5px;
}

.chatTitle {
    font-family: lobster;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.currentRoom  {
    font-family: helvetica;
    padding: 0px 0px 10px 20px ;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 0.5px solid #eee;
    border-radius: 10px;
}

.chat:hover {
    background-color: #ddd;
}

.chat .username {
    font-weight: 800;
}

.messageInput {
    margin: 0px 0px 20px 20px;
    width: 360px;
    padding: 5px;
}


/*
========================================================

ROOMS

========================================================
*/

#roomNav {
    float:left;
    width: 170px;
    height: auto;
    background: white;
    border: 1px solid #9fa4ad;
    border-radius: 10px;
    margin-right: 20px;   
}

.roomHead {
    height: 100px;
    background: #98f2cf;
    border-bottom: 1px solid #9fa4ad;
    border-radius: 10px 10px 0px 0px
}

.roomHeadTitle {
    font-family: lobster;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.showUserN {
    padding: 10px 0px 10px 0px;
    background: #def9ef;
    text-align: center;
}

.roomSelect {
    width: 140px;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.roomBtn {
    text-decoration: none;
    font-size: 15px; 
    padding: 5px;
    border: 1px solid #9fa4ad;
    border-radius: 5px;
}

.roomCreate {
    width: 140px;
    height: auto;
    padding: 5px;
    margin: 10px; 
}


.createRoom {
    text-decoration: none;
    font-size: 15px; 
    padding: 5px;
    border: 1px solid #9fa4ad;
    border-radius: 5px;
}

.room {
    width: 140px;
    font-size: 12px;
    display: none;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    border: 1px solid #9fa4ad;
    background: #cbdaf4;      
}

.room a {
    text-decoration: none;
    color: #000;  
}

.room a:hover {
    color: #eee;
}

.roomInputCont {
    height: 100px;
    border-top: 1px solid #eee;
}

.roomInput {
    margin: 10px 0px 0px 15px;
    padding: 5px;
}

.addRoom {
    margin: 15px 0px 10px 15px;
}

.addRoom a {
    text-decoration: none;
    width: 40px;
    color: #000;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.addRoom a:hover {
    background: #eee    ;
}


/*
========================================================

USERNAME

========================================================
*/



.setUser {
    height: 100px;
    border-top: 1px solid #eee;
}

/*.usernameChange:hover {
    background: #def9ef;
}*/

.userInput {
    margin: 10px 0px 0px 15px;
    padding: 5px;
}

.username {
    text-decoration: none;
    color: #4f5150;
}

.usernameBtn {
   margin: 15px 0px 10px 15px;
}

.usernameBtn a {
    text-decoration: none;
    width: 40px;
    color: #000;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.usernameBtn a:hover {
    background: #eee; 
}

.usernameChange {
    text-decoration: none;
    font-size: 15px; 
    padding: 5px;
    border: 1px solid #9fa4ad;
    border-radius: 5px;
}

.usernameChange:hover {
    background: #def9ef;
}

.submitBtn a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    background: white;
    padding: 5px 10px 5px 10px;
    border: 1px solid #9fa4ad;
    border-radius: 10px;
    margin: 0px 0px 10px 15px;
}

.submitBtn a:hover {
    background: yellow;
}

.showFriends {
    width: 140px;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.friendsBtn {
    text-decoration: none;
    font-size: 15px; 
    padding: 5px;
    border: 1px solid #9fa4ad;
    border-radius: 5px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

